<img height="15px" class="margem-logo" src="../../../assets/logotipo.png" alt="">
<div class="margem" fxLayout="row" fxFlex="100%"  >

  <button mat-button [matMenuTriggerFor]="aboveMenu">Messas</button>
  <mat-menu #aboveMenu="matMenu" yPosition="above">
    <button mat-menu-item>Incluir</button>
    <button mat-menu-item>Configurar</button>
  </mat-menu>
  
  <button mat-button [matMenuTriggerFor]="belowMenu">Colaborador</button>
  <mat-menu #belowMenu="matMenu" yPosition="below">
    <button mat-menu-item>Incluir</button>
    <button mat-menu-item>Configurar</button>
  </mat-menu>
  
  <button mat-button [matMenuTriggerFor]="beforeMenu">Usuário</button>
  <mat-menu #beforeMenu="matMenu" xPosition="before">
      <button mat-menu-item>Incluir</button>
      <button mat-menu-item>Configurar</button>
  </mat-menu>
  
  
  <button mat-button [matMenuTriggerFor]="afterMenu">Itens</button>
  <mat-menu #afterMenu="matMenu" xPosition="after">
    <button mat-menu-item>Incluir</button>
    <button mat-menu-item>Configurar</button>
  </mat-menu>
</div>
<div class="alinhar-esquerda margem">
 <span>Bem vindo Cleiton,</span>
 <button mat-button color="warn">Sair</button>
</div>
<br><br>

