<h1>Abrir&nbsp;Mesa</h1>
<form>
    <div class="example-container" fxLayout="row" fxGap="16px">
        <mat-form-field>
            <input matInput placeholder="Cliente">
        </mat-form-field>
    </div>
    <div class="example-container" fxLayout="row" fxGap="16px">
        <mat-form-field>
            <input matInput placeholder="item de consumo">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Quantidade">
        </mat-form-field> <mat-form-field>
            <input matInput placeholder="Valor total">
        </mat-form-field>
    </div>
    
</form>

<button mat-button >incluir</button>
<button mat-button color="warn">Sair</button>
    
